ul
	li.dropdown_container.dropdownContainer
		a.dropdownTrigger(href="#") Home
		//- down left position
		.dropdown_content.down_left_mod
			ul.dropdown_list
				li.dropdown_item
					a.dropdown_link(href="#") Lorem
				li.dropdown_item
					a.dropdown_link(href="#") Ipsum
				li.dropdown_item
					a.dropdown_link(href="#") Dolor
	li.dropdown_container.dropdownContainer
		a.dropdownTrigger(href="#") Sport
		//- down right position
		.dropdown_content.down_right_mod
			ul.dropdown_list
				li.dropdown_item
					a.dropdown_link(href="#") Lorem
				li.dropdown_item
					a.dropdown_link(href="#") Ipsum
				li.dropdown_item
					a.dropdown_link(href="#") Dolor
	li.dropdown_container.dropdownContainer
		a.dropdownTrigger(href="#") Another
		//- up left position
		.dropdown_content.up_left_mod
			ul.dropdown_list
				li.dropdown_item
					a.dropdown_link(href="#") Lorem
				li.dropdown_item
					a.dropdown_link(href="#") Ipsum
				li.dropdown_item
					a.dropdown_link(href="#") Dolor
	li.dropdown_container.dropdownContainer
		a.dropdownTrigger(href="#") News
		//- up right position
		.dropdown_content.up_right_mod
			ul.dropdown_list
				li.dropdown_item
					a.dropdown_link(href="#") Lorem
				li.dropdown_item
					a.dropdown_link(href="#") Ipsum
				li.dropdown_item
					a.dropdown_link(href="#") Dolor