ul.menu_list
	li.menu_item.dropdown_container
		a.menu_link.dropdown_trigger(href="#") Home
		.dropdown_content.down_left_mod
			ul.dropdown_list
				li.dropdown_item
					a.dropdown_link(href="#") Lorem
				li.dropdown_item
					a.dropdown_link(href="#") Ipsum
				li.dropdown_item
					a.dropdown_link(href="#") Dolor
	li.menu_item.dropdown_container
		a.menu_link.dropdown_trigger(href="#") Another
		.dropdown_content.down_left_mod
			ul.dropdown_list
				li.dropdown_item
					a.dropdown_link(href="#") Lorem
				li.dropdown_item
					a.dropdown_link(href="#") Ipsum
				li.dropdown_item
					a.dropdown_link(href="#") Dolor
	li.menu_item.dropdown_container
		a.menu_link.dropdown_trigger(href="#") Sport
		.dropdown_content.down_left_mod
			ul.dropdown_list
				li.dropdown_item
					a.dropdown_link(href="#") Lorem
				li.dropdown_item
					a.dropdown_link(href="#") Ipsum
				li.dropdown_item
					a.dropdown_link(href="#") Dolor