- var production = false;
- var modernizr = true;
- var jQuery = true;
- var jQueryUI = true;

//--------------------------------------------------------------forms
- var default_field_hidden = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod hline_hide_mod', field_class:'default_mod'}
- var default_field_hidden_textarea_1 = {block_class_mod:'form_cell_v2_mod',class_mod:'form_v1_mod hline_hide_mod', field_class:'default_mod', field_type:'textarea'}
- var default_field = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod', field_class:'default_mod'}
- var second_field = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod hline_hide_mod', field_class:'default_mod'}
- var search_field = {block_class_mod:'form_cell_v1_mod header_search',class_mod:'form_v1_mod hline_hide_mod header_mod', field_class:'second_mod header_mod'}
//--------------------------------------------------------------forms