- var production = false;
- var jQuery = true;
- var jQueryUI = false;

//--------------------------------------------------------------forms
- var default_field = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod', elem_class:'default_mod'}
- var default_field_hidden = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod hline_hide_mod', elem_class:'default_mod'}
- var default_checkbox = {block_class_mod:'check_1_mod',class_mod:'check_1_mod', elem_class:'check_1_mod'}
- var default_radio = {block_class_mod:'radio_1_mod',class_mod:'radio_1_mod', elem_class:'radio_1_mod'}

//--------------------------------------------------------------forms
- var headerMenuArray = {items:[{title:'News/blog',active:false},{title:'Team and story',active:false},{title:'In the media',active:true},{title:'Careers',active:false},{title:'Online shop',active:false},{title:'Past projects',active:false},{title:'Parners',active:false},{title:'Contact',active:false}],mod:'header_mod'}