@import "project_vars";
@if $local_var != onload {

	%global_flex_block_e {
		@include flex_block();
	}

	%global_flex_block_row_wrap_flex-start {
		@include flex_block(row, wrap, flex-start);
	}

	%global_flex_block_row_wrap_flex-end {
		@include flex_block(row, wrap, flex-end);
	}

	%global_flex_block_row_wrap_flex-end_center {
		@include flex_block(row, wrap, flex-end, center);
	}

	%global_flex_block_row_wrap_flex-start_stretch {
		@include flex_block(row, wrap, flex-start, stretch);
	}

	%global_flex_block_row_wrap_flex-end_stretch {
		@include flex_block(row, wrap, flex-end, stretch);
	}

	%global_flex_block_row_wrap_center {
		@include flex_block(row, wrap, center);
	}

	%global_flex_block_row_nowrap_flex-start {
		@include flex_block(row, nowrap, flex-start);
	}

	%global_flex_block_row_nowrap_flex-start_stretch {
		@include flex_block(row, nowrap, flex-start, stretch);
	}

	%global_flex_block_row_nowrap_flex-end {
		@include flex_block(row, nowrap, flex-end);
	}

	%global_flex_block_row_nowrap_center {
		@include flex_block(row, nowrap, center);
	}

	%global_flex_block_row_nowrap_space-between {
		@include flex_block(row, nowrap, space-between);
	}

	%global_flex_block_row_wrap_space_between_stretch {
		@include flex_block(row, wrap, space-between, stretch);
	}

	%global_flex_block_row_wrap_space_between {
		@include flex_block(row, wrap, space-between);
	}

	%global_flex_block_row_nowrap_space_between_stretch {
		@include flex_block(row, nowrap, space-between, stretch);
	}

	%global_flex_block_row_wrap_space_between_center {
		@include flex_block(row, wrap, space-between, center);
	}

	%global_flex_block_row_nowrap_space_between_center {
		@include flex_block(row, nowrap, space-between, center);
	}

	%global_flex_block_row_nowrap_flex_end_center {
		@include flex_block(row, nowrap, flex-end, center);
	}

	%global_flex_block_row_nowrap_flex_start_center {
		@include flex_block(row, nowrap, flex-start, center);
	}

	%global_flex_block_row_nowrap_center_center {
		@include flex_block(row, nowrap, center, center);
	}

	%global_flex_block_column_nowrap_flex-start {
		@include flex_block(column, nowrap, flex-start);
	}

	%global_flex_block_column_nowrap_flex-start_stretch {
		@include flex_block(column, nowrap, flex-start, stretch);
	}

	%global_flex_block_column_nowrap_flex-end_center {
		@include flex_block(column, nowrap, flex-end, center);
	}

	%global_flex_block_column_nowrap_center_center {
			@include flex_block(column, nowrap, center, center);
		}

	%global_flex_block_column_nowrap_center_flex-start {
		@include flex_block(column, nowrap, center, flex-start);
	}


	%global_flex_block_column_nowrap_flex-end {
		@include flex_block(column, nowrap, flex-end);
	}

	%global_flex_block_column_nowrap_space_between_stretch {
		@include flex_block(column, nowrap, space-between, stretch);
	}

	%global_flex_1_e {
		@include flex(1);
	}

	%global_flex_1_auto_e {
		@include flex(1 auto);
	}

	%global_flex_0_auto_e {
		@include flex(0 auto);
	}

	%global_flex_100_e {
		@include flex(1 100%);
	}

	%border_box {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	%transition_all {
		@include transition;
	}

	%transition_opacity {
		@include transition(opacity);
	}

	%transition_color {
		@include transition(color);
	}

	%transition_background {
		@include transition(background);
	}

	%transition_padding {
		@include transition(padding);
	}

	%transition_border {
		@include transition(border);
	}

	%transition_transform {
		@include transition(transform);
	}

	%clearfix {
		&:after {
			position: static;
			display: block;
			height: 0;
			clear: both;
			content: "";
			visibility: hidden;
		}
	}

	%circle_ico_style {
		$w: 24px;
		position: absolute;
		width: $w !important;
		height: $w;
		top: 50%;
		margin: (-$w/2) 0 0;
		text-align: center;
		line-height: $w;
		border-radius: 50%;
	}

	%circle_ico_style_small {
		$w: 20px;
		position: absolute;
		width: $w !important;
		height: $w;
		top: 50%;
		margin: (-$w/2) 0 0;
		text-align: center;
		line-height: $w;
		border-radius: 50%;
	}

	%translate3d {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	%backface {
		-webkit-backface-visibility: hidden; // Chrome and Safari */
		-moz-backface-visibility: hidden; // Firefox */
		-ms-backface-visibility: hidden; // Internet Explorer */
		backface-visibility: hidden;
	}

	%no-user-select {
		-webkit-user-select: none; // Chrome all / Safari all */
		-moz-user-select: none; // Firefox all */
		-ms-user-select: none; // IE 10+ */
		// No support for these yet, use at own risk */
		-o-user-select: none;
		user-select: none;
	}

	%butt_halo_v1 {
		&:after {
			$w: 7px;
			z-index: -1;
			position: absolute;
			top: -$w;
			left: -$w;
			right: -$w;
			bottom: -$w;
			content: "";
			border-radius: 30px;
			@include vert_grad(#dbdbd1, #fffffe);
		}
	}

	//	%content_b {
	//		width: 80%;
	//		max-width: $content_block_max_width;
	//		min-width: $content_block_width;
	//		margin: 0 auto;
	//
	//		@include respond-to-max($wide_page_step_1) {
	//			width: 85%;
	//		}
	//
	//		@include respond-to-max($wide_page_step_2) {
	//			width: 90%;
	//		}
	//
	//		.wide_page & {
	//			max-width: $content_block_max_width + 200px;
	//			width: 95%;
	//
	//			@include respond-to-max($wide_page_step_1) {
	//				width: 95%;
	//			}
	//
	//			@include respond-to-max($wide_page_step_2) {
	//				width: 95%;
	//			}
	//		}
	//
	//	}

	%help_ico {
		&:before {
			z-index: 100;
			position: absolute;
			width: 18px;
			height: 18px;
			line-height: 18px;
			text-align: center;
			font-size: 13px;
			color: #fff;
			font-style: normal;
			border: 1px solid #3d8ead;
			content: "?";
			border-radius: 50%;
			//@include box-shadow(0 1px 3px rgba(0, 0, 0, .33), inset 0 0 0 1px rgba(255, 255, 255, .2));
			box-shadow: 0 1px 3px rgba(0, 0, 0, .33), inset 0 0 0 1px rgba(255, 255, 255, .2);
			@include vert_grad(#91c5e7, #69a5c7);
		}
	}

	%help_new_ico {
		&:before {
			box-sizing: border-box;
			z-index: 5;
			position: absolute;
			width: 18px;
			height: 18px;
			line-height: 18px;
			text-align: center;
			font-size: 13px;
			font-weight: 700;
			color: #fff;
			font-style: normal;
			content: "?";
			border-radius: 50%;
			background: #7bb3d5;
		}
	}

	%help_box_hover {
		&:hover,
		&:focus {
			z-index: 10;

			.help_box {
				$w: 5px;
				z-index: 100;
				opacity: 1;
				visibility: visible;

				&.pointer_events_on {
					pointer-events: auto;
				}
				&.right_mod {
					@include transform_translate($w, -50%);
				}

				&.left_mod {
					@include transform_translate(-$w, -50%);
				}

				&.bottom_mod {
					@include transform_translate(-50%, 5px);
				}
				&.top_mod {
					@include transform_translate(-50%, -5px);
				}

				&.no_visibility {
					display: block;
				}
			}
		}
	}

	%right_rotate_anim {
		@include animation(infinite_right_rotate, 3s);
	}

	%left_rotate_anim {
		@include animation(infinite_left_rotate, 3s);
	}

	%vert_centr {
		top: 50%;
		@include transform_translate(0, -50%);
	}

	%hor_centr {
		left: 50%;
		@include transform_translate(-50%, 0);
	}

	%hor_vert_centr {
		top: 50%;
		left: 50%;
		@include transform_translate(-50%, -50%);
	}

	%hover_show {
		@include opacity(0);
		@include transition(opacity, .3s);
	}

	%hover_show_parent {
		&:hover,
		&:focus {
			%hover_show {
				@include opacity(1);
			}
		}
	}

	%butt_shadow_v1 {
		//@include box-shadow(inset 0 0 2px rgba(255, 255, 255, .2), 0 1px 3px rgba(0, 0, 0, .33));
		box-shadow: inset 0 0 2px rgba(255, 255, 255, .2), 0 1px 3px rgba(0, 0, 0, .33);

		&:active {
			//@include box-shadow(inset 0 2px 5px rgba(114, 114, 114, .94) !important);
			box-shadow: inset 0 2px 5px rgba(114, 114, 114, .94) !important;
		}
	}

	%new_search_pipec {
		.new_search_panel_hide &,
		.new_search_panel_hide_start & {
			@include transition(all, .3s, linear);

			&.transition_mod {
				@include transition(all, .3s, linear);
			}
		}

	}

	%object_picture_w_temp {
		z-index: 5;
		padding: 4px;
		border: 1px solid #c3d1d9;
		background-color: #fff;

		&:before,
		&:after {
			z-index: 2;
			position: absolute;
			display: none;
			width: 68px;
			height: 68px;
			top: -2px;
			left: -2px;
			content: "";
		}
	}

	%e_f_field_v1 {
		display: block;
		width: 100%;
		height: $e_f_field_v1_h;
		padding: $gl_indent*1.5 $gl_indent*1.3;
		border: none;
		font-size: 1.4rem;
		box-sizing: border-box;
		background: $white;
		border-radius: $br_global;
	}

	%e_f_field_v2 {
		$e_f_field_v2_color: #aaa;
		display: block;
		width: 100%;
		height: $e_f_field_v2_h;
		padding: $gl_indent*1 $gl_indent*1.3;
		border: none;

		font-size: 1.4rem;
		box-sizing: border-box;
		background: $white;

		border-radius: $br_global;

		&::-webkit-input-placeholder {
			color: $e_f_field_v2_color;
		}

		&::-moz-placeholder {
			color: $e_f_field_v2_color;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: $e_f_field_v2_color;
		}
	}

	%e_f_field_v3 {
		display: block;
		width: 100%;
		height: $e_f_field_v3_h;
		padding: $gl_indent*1 $gl_indent*1.3;
		border: none;

		font-size: 1.4rem;
		box-sizing: border-box;
		background: $white;
		border-radius: $br_global;

		&::-webkit-input-placeholder {
			font-style: italic;
		}

		&::-moz-placeholder {
			font-style: italic;
		}
		&:-ms-input-placeholder {
			font-style: italic;
		}
	}

	%e_f_field_v1_file {
		display: block;
		width: 100%;
		height: $e_f_field_v1_h;
		border-radius: $br_global;
		@include dashed-border(4px, 1px, 1px, #bfbfbf);
	}
	//  border: 0.21px dashed #bfbfbf;
	%e_f_field_v1_hover {
	}

	%e_f_field_v1_active {
	}

	%transform-style {
		@include transform-style;
	}

	%backface-visibility {
		@include backface-visibility;
	}

	%scroll_rediz_1 {
		&::-webkit-scrollbar {
			width: 6px;
			height: 12px;
			background: transparent;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			width: 6px;
			height: 12px;
			border-radius: 12px;
		}

		&::-webkit-scrollbar-corner {
			background: transparent;
		}
	}

	%text-overflow {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}


	%z-index_fix_vertical{
		$index: 20;
			$index2: 21;
			@while $index > 0{

				&:nth-child(#{$index}) {
					z-index: 10 + ($index2 - $index);
				}

				$index: $index - 1;
			}
	}

}