//-------------------------------------------------------global_vars

$pi: 3.14159265359;
$square_root_of_2: 1.41421356237;

//-------------------------------------------------------global_vars
//-------------------------------------------------------mixins
@mixin pseudo($width,$height,$content:'') {
	position: absolute;
	content:'content';
	width:$width*1rem;
	height:$height*1rem;
}

@mixin font_face($font_name,$file_name,$path:$font_path,$weight:normal,$style:normal) {
	@font-face {
		font-family:quote($font_name);
		src: url($path + $file-name + '.eot');
		src: url($path + $file-name + '.eot?#iefix') format('embedded-opentype'),
		url($path + $file-name + '.woff') format('woff'),
		url($path + $file-name + '.ttf') format('truetype'),
		url($path + $file-name + '.svg##{$font_name}') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin triangle($side,$color,$size) {
	position:relative;
	&:before {
		content:" ";
		position:absolute;
		@if $side == left {
			top:50%;
			transform:translate(0,-50%);
			right:100%;
			border:$size+px solid transparent;
			border-right:$size+px solid $color;
		}
		@if $side == right {
			top:50%;
			transform:translate(0,-50%);
			left:100%;
			border:$size+px solid transparent;
			border-left:$size+px solid $color;
		}
		@if $side == top {
			bottom:100%;
			transform:translate(-50%,0);
			left:50%;
			border:$size+px solid transparent;
			border-bottom:$size+px solid $color;
		}
		@if $side == bottom {
			top:100%;
			transform:translate(-50%,0);
			left:50%;
			border:$size+px solid transparent;
			border-top:$size+px solid $color;
		}
	}
}

@mixin arrow($direction,$color:#000,$width:10px) {
	width:$width;
	height:$width;
	transform:rotate(45deg);
	@if $direction == right {
		border-top:1px solid $color;
		border-right:1px solid $color;
	}
	@if $direction == bottom {
		border-right:1px solid $color;
		border-bottom:1px solid $color;
	}
	@if $direction == left {
		border-bottom:1px solid $color;
		border-left:1px solid $color;
	}
	@if $direction == top {
		border-left:1px solid $color;
		border-top:1px solid $color;
	}
}

@mixin dashed-border($dashlength, $spacelength, $borderwidth, $color) {
	$per: percentage($dashlength / ($dashlength + $spacelength));
	background-image: linear-gradient(to right, $color 0%, $color $per, rgba(0, 0, 0, 0) $per),
	linear-gradient(to bottom, $color 0%, $color $per, rgba(0, 0, 0, 0) $per),
	linear-gradient(to right, $color 0%, $color $per, rgba(0, 0, 0, 0) $per),
	linear-gradient(to bottom, $color 0%, $color $per, rgba(0, 0, 0, 0) $per);
	background-position: (-$spacelength) 0, 0 (-$spacelength), (-$spacelength) 100%, 100% (-$spacelength);
	background-size: ($dashlength + $spacelength) $borderwidth, $borderwidth ($dashlength + $spacelength), ($dashlength + $spacelength) $borderwidth, $borderwidth ($dashlength + $spacelength);
	background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
}

@mixin center($width: null, $height: null) {
	position: absolute;
	top: 50%;
	left: 50%;

	@if not $width and not $height {
		transform: translate(-50%, -50%);
	} @else if $width and $height {
		width: $width;
		height: $height;
		margin: -($height / 2) #{0 0} -($width / 2);
	} @else if not $height {
		width: $width;
		margin-left: -($width / 2);
		transform: translateY(-50%);
	} @else {
		height: $height;
		margin-top: -($height / 2);
		transform: translateX(-50%);
	}
}

@mixin style_separator($var: false, $var2: false, $var3: false, $var4: false, $var5: false, $var6: false, $var7: false, $var8: false, $var9: false) {
	@if $var == $local_var or $var2 == $local_var or $var3 == $local_var or $var4 == $local_var or $var5 == $local_var or $var6 == $local_var or $var7 == $local_var or $var8 == $local_var or $var9 == $local_var {
		@content;
	}
}

@mixin sub_style_separator($var: false, $var2: false, $var3: false, $var4: false, $var5: false, $var6: false, $var7: false, $var8: false, $var9: false) {
	@if $var == $local_var or $var2 == $local_var or $var3 == $local_var or $var4 == $local_var or $var5 == $local_var or $var6 == $local_var or $var7 == $local_var or $var8 == $local_var or $var9 == $local_var {
		@content;
	}
}

@mixin ie_9_check {
	@if $ie9 == true {
		@content;
	}
}

@mixin holyday_separator($var: false) {
	@if $var == $holydat_var {
		@content;
	}
}

@mixin doc_check {
	@if $doc == true {
		@content;
	}
}

@mixin develop_check {
	@if $develop == true {
		@content;
	}
}

@mixin production_check {
	@if $production == true {
		@content;
	}
}

@mixin ie_7_check {
	@if $ie7 == true {
		@content;
	}
}

@mixin no_ie_7_check {
	@if $ie7 == false {
		@content;
	}
}

@mixin ie_8_check {
	@if $ie8 == true {
		@content;
	}
}

@mixin ie_7_8_check {
	@if $ie7 == true {
		@content;
	}
	@if $ie8 == true {
		@content;
	}
}



@mixin ie_8_9_check {
	@if $ie8 == true {
		@content;
	}
	@if $ie9 == true {
		@content;
	}
}

@mixin all_check {
	@if $all == true {
		@content;
	}
}

@mixin all_ie9_check {
	@if $all == true {
		@content;
	}
	@if $ie9 == true {
		@content;
	}
}

@mixin no-flexboxlegacy(){
	.no-flexboxlegacy &{
		@content;
	}
}

@mixin print_style() {
	@media print {
		@content;
	}
}

@mixin appearance($value: button) {
	-moz-appearance: $value;
	-webkit-appearance: $value;
	appearance: $value;
}

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin inline_flexbox() {
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flex;
	display: -webkit-inline-flex;
	display: inline-flex;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex: $values;
	-webkit-flex: $values;
	-ms-flex: $values;
	flex: $values;
}

@mixin flex_block($flex-direction : row, $flex-wrap: wrap, $content : space-between, $align-items : flex-start,$align-content : flex-start) {

	display: flex;
	flex-direction: $flex-direction;
	flex-wrap: $flex-wrap;
	justify-content: $content;
	align-content: $align-content;
	align-items: $align-items;
}

@mixin align-self($val: center){
	-webkit-align-self:$val;
	align-self:$val;
}

@mixin clearfix {
	&:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

@mixin user-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin inline_block_wrapper {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}

@mixin inline_block_element($font-size: 15px, $line-height: 1.4, $letter-spacing: normal) {
	display: inline-block;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
	@if $ie7 == true {
		display: inline;
	}
}
@import "_project_vars";
@import "_extends";
@import "_project_extends";
@import "_buttons_extends";
