//---------------------------------------------------------------------fonts

$font_path:'../fonts/';

$font_1:'Arial';

//---------------------------------------------------------------------colors
$white:#fff;
$black:#000;
$main_color:#02918c;


$def_text_color:#7e8287;
$placeholder_color:#000;
$body_bg:#fff;
//---------------------------------------------------------------------colors
//------------------------------------------------------------layout
$footer_height:10rem;
$header_height:10rem;
$page_width:96rem;
//------------------------------------------------------------layout###
//----------------------------------------------------------------other stuff
$gl_indent:1rem;
$base_font_size:1.3rem;
$e_f_field_v1_h:2rem;
$e_f_field_v2_h:2rem;
$e_f_field_v3_h:2rem;
$br_global:1rem;
$point_1:1024px;
$point_2:768px;
$point_3:480px;
$point_4:320px;
//----------------------------------------------------------------other stuff