//---------------------------------------------------------------------fonts

$font_path:'../fonts/';

$font_1:'Arial';

//---------------------------------------------------------------------colors
$white:#fff;
$black:#000;
$main_color:#02918c;


$def_text_color:#7e8287;
$placeholder_color:#000;
$wrapper_bg:#fff;
//---------------------------------------------------------------------colors
//------------------------------------------------------------layout
$footer_height:100rem;
$header_height:100rem;
$page_width:960rem;
//------------------------------------------------------------layout###
//----------------------------------------------------------------other stuff
$gl_indent:10rem;
$base_font_size:13rem;
$e_f_field_v1_h:20rem;
$e_f_field_v2_h:20rem;
$e_f_field_v3_h:20rem;
$br_global:10rem;
$point_1:1024px;
$point_2:768px;
$point_3:480px;
$point_4:320px;
//----------------------------------------------------------------other stuff