// uprise block
a.uprise_block(href="#")
	.uprise_i_w
		img.uprise_i(src="i/test_image.jpg" alt="")
	span.uprise_label Лейбл
	.uprise_in
		span.uprise_title Text of the title
		span.uprise_date 18 April
