//-----------------------------if preview
.video_block_wrap
	video.video_block(poster="i/poster.jpg")
		source(src="i/feed/feed_5.mp4" type="video/mp4")

//-----------------------------if without preview
.video_block_wrap
	video.video_block
		source(src="i/feed/feed_5.mp4" type="video/mp4")