//------------------------------------------------------------base styles
html {
	height: 100%;
	font: normal 10px/1.33 $font_1;
	font-weight: 300;
}

body {
	position: relative;
	min-height: 100%;
	font-size:$base_font_size;
	color: $def_text_color;
	-webkit-text-size-adjust: none;
	background: $body_bg;
}
.wrapper {
	position: relative;
	min-width: $page_width;
	overflow:hidden;
}
.disable-hover,
.disable-hover * {
	pointer-events: none !important;
}

a {
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.hide {
	display: none !important;
}

.base {
	position:relative;
	padding: $header_height 0 $footer_height;
}
.elements_list {
	padding:3rem;
}
//------------------------------------------------------------base styles###