//------------------------------------------------------------base styles
html {
	height: 100%;
	font: normal 10px/1.33 $font_1;
	font-weight: 300;
}

body {
	position: relative;
	min-height: 100%;
	font-size: $font_size_base;
	color: $color_text_base;
	-webkit-text-size-adjust: none;
	background: $body_bg;
}
.wrapper {
	position: relative;
	min-width: $page_width;
	min-height:100%;
	height: auto !important;
	overflow:hidden;
}
.disable-hover,
.disable-hover * {
	pointer-events: none !important;
}

a {
	text-decoration: none;
	color:$color_link_base;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.hide {
	display: none !important;
}

.base {
	position:relative;
	padding: $height_header $gl_indent $height_footer;
}
.elements_list {
	padding:3rem;
}
//------------------------------------------------------------base styles###