//-------------------------------------------------------forms
%e_f_field_v1 {
	display: block;
	width: 100%;
	padding:1rem;
	border: none;
	font-size: 1.4rem;
	font-family: $font_1;
	color: $black;

	&::-webkit-input-placeholder {
		color: $placeholder_color;
	}

	&::-moz-placeholder {
		color: $placeholder_color;
	}
	&:-ms-input-placeholder {
		color: $placeholder_color;
	}
}

%e_f_field_v2 {
	display: block;
	width: 100%;
	padding:1rem;
	border: none;
	font-size: 1.4rem;
	font-family: $font_1;
	color: $black;
}

%e_f_field_v1_hover {
}

%e_f_field_v1_active {
}

.form_block {
}
.form_sub_cell {
}
.form_hline {
}
.form_sub_cell_wrap {
}

.form_cell {
	&.hidden_field {
		display: none;
	}

	&.form_cell_v1_mod {
		margin:10px 0 0;
	}
	&.form_cell_v2_mod {

	}
}

.form_c_hline {

	&.hline_hide_mod {
		display: none;
	}
	&.form_v1_mod {
	}

}

.form_c_f_w {
	position: relative;

	&.form_v1_mod {

	}
}

.f_c_field:not(.select_rediz_coosen) {

	&.default_mod {
		@extend %e_f_field_v1 !optional;

		&:focus {
			@extend %e_f_field_v1_active !optional;
		}

		&:hover {
			@extend %e_f_field_v1_hover !optional;
		}

		&.textarea_mod_1 {
			height: 10rem;
		}
	}
	&.second_mod {
	}
}

//-------------------------------------------------------f_c_field_file
.f_c_field_file_field {
}

.f_c_field_file_text {
}

.f_c_field_file_butt {
}

//-------------------------------------------------------f_c_field_file
//-------------------------------------------------------forms