.section_title {
	&.gray_mod {
		color: #aaa;
	}

	&.v1_mod {
		font-size: 3rem;
		text-transform: uppercase;

		&.center_mod {
			text-align: center;
		}
	}
	&.v2_mod {
		font-family: 'Times New Roman', sans-serif;
		font-size: 4rem;
		font-weight: 400;

		&.bordered_up_mod {
			border-top: 1px solid currentColor;
		}

		&.bordered_down_mod {
			border-bottom: 1px solid currentColor;
		}

		&.inline_mod {
			display: inline-block;
		}
	}
}