//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	font-size: 1rem;

	&.demo_mod {
		@extend %global_flex_block_row_nowrap_center_center;

		height: 100%;

		color: $black;
		text-align: center;
	}

}


.section_in {
	width: 100%;
	max-width: $page_width;
	margin: 0 auto;
}

.section_title {
	font-size: 4em;
}