header.header
	.header_main_row
		h1.logo_wrap.header_mod
			a(href="#").logo_text.header_mod Site logo
		.menu_trigger.menuTrigger
			span.menu_trigger_decor
		nav.header_menu
			ul.header_menu_list
				li.header_menu_item
					a.header_menu_link(href="#") Home
				li.header_menu_item
					a.header_menu_link(href="#") About us
				li.header_menu_item
					a.header_menu_link(href="#") News
				li.header_menu_item
					a.header_menu_link(href="#") Blog
	// sidebars
	.main_sidebar
	.user_sidebar