.popup {
	@extend %global_flex_block_row_wrap_flex-start;
	@extend %transition_opacity;

	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

	align-content: stretch;
	width: 100%;
	height: var(--full-screen);
	max-height: var(--full-screen);

	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	pointer-events: none;

	background-color: rgba($black, .6);

	&.active_mod {
		z-index: z-index(popup);

		opacity: 1;
		pointer-events: auto;
	}
}

.popup_in {
	position: relative;

	padding: var(--gl-indent);
	width: $page_width;
	max-width: 100%;
	margin: auto;
	background-color: $white;
}

.popup_close {
	position: absolute;
	right: var(--gl-indent);
	top: var(--gl-indent);

	width: 3rem;
	height: 3rem;

	color: $white;

	cursor: pointer;
}