//-------------------------------popup

.popup.myPopup
	.popup_in.bg_mod
		.popup_close.popupClose
			+icon('close', 'size_mod')

//-------------------------------popup###

//-------------call class .myPopupBtn