include ../templates/_global_vars
include ../templates/_global_mixins
include ../templates/_project_mixins
include ../templates/_project_vars

//-Here you can see some examples of jade tricks of glivera-team

//- Form field mixin
+form_field_new({
	id: 'number',
	title: 'some text is here',
	array: default_field,
	placeholder: 'Placeholder text'
})
//- Form field mixin###

//- Old checkbox mixin
+lb_rb_check_radio('checkbox','Text of checkbox','name','check_v1_mod','check_v1_mod',true,'check_v1_mod')
//- Old checkbox mixin###

//- New checkbox mixin with object
+lb_rb_check_radio_new({
	type: 'checkbox',
	title: 'Text of checkbox',
	name: 'name',
	block_class_mod: 'check_v1_mod',
	checked:true
})

+lb_rb_check_radio_new({
	type: 'radio',
	title: 'Text of checkbox',
	name: 'name',
	block_class_mod: 'check_v1_mod'
})
//- New checkbox mixin with object###

//- Old select mixin
+form_field_select('В какой отдел вы хотите отправить письмо?',{name:['','Отдел 1','Отдел 2','Отдел 3']},'Выберите отдел','#cont_department','form_cell_v1_mod','form_v1_mod','js-chosen_target')
//- Old select mixin###

// New select mixin
+form_field_select_new({
	title:'Select title',
	placeholder:'Placeholder text for select',
	block_class_mod:'form_cell_v1_mod',
	class_mod:'form_v1_mod',
	select_class:'js-chosen_target',
	id:'some_id',
	options:['','Option 1','Option 2','Option 3']
})
// New select mixin###
// New form mixin
+form_element({
	type:'textarea',
	class_array:default_field,
	title:'some title',
	id:'#some'
})
+form_element({
	type: 'select',
	class_array: default_field,
	title: 'some title',
	id: 'id',
	add_class: 'someclass',
	options: ['Option 1', 'Option 2', 'Option 3']
})
+form_element({
	type: 'radio',
	class_array: default_field,
	title: 'some title',
	id: 'id',
	add_class: 'someclass',
	name:'radiobtn',
	checked:true
})
+form_element({
	type: 'checkbox',
	class_array: default_field,
	title: 'some title',
	id: 'id',
	add_class: 'someclass',
	name: 'radiobtn',
	checked: true
})
// New form mixin###