%form_el_label {
	display: block;
	margin-bottom: .4rem;

	font-size: 1.6rem;
	color: $black;
}

%form_el_default {
	display: block;
	width: 100%;
	height: $input_height;
	padding: $input_offset;
	font-size: $input_font_size;
	font-family: $font_1;
	color: $input_text_color;
	box-shadow: inset 0 0 0 1px $input_border_color;
	border: none;
	border-radius: $input_radius;

	&::-webkit-input-placeholder {
		color: $input_placeholder_color;
	}

	&::-moz-placeholder {
		color: $input_placeholder_color;
	}

	&:-ms-input-placeholder {
		color: $input_placeholder_color;
	}

	&:hover,
	&:focus {
		box-shadow: inset 0 0 0 1px $input_border_color_active;
	}
}
