$content_indent: 1rem;

.static_content {
	font-size: 1.4rem;

	p {
		margin: $content_indent 0 0;

		&:first-child {
			padding: 0;
		}
	}

	a {
		color: $color_link_base;
		text-decoration: underline;
	}

	img {
		display: block;
		max-width: 100%;
		margin: $content_indent 0 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family:sans-serif;
		font-weight: 700;
		margin:$content_indent 0 0;

		&:first-child {
			margin: 0;
		}
	}

	h1 {
		font-size: 3.2rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 2rem;
	}

	ul {
		margin:$content_indent 0 0;

		&:first-child {
			margin: 0;
		}

		li {
			margin:$content_indent/2 0 0;

			&:before {
				content: '';
				width: .6rem;
				height: .6rem;
				display: inline-block;
				vertical-align: middle;
				margin:(-.2142em) .3571em 0 0;
				border-radius: 100%;
				background: $color_link_base;
			}
		}
	}
}