.static_content
	h1 Main title
	p Some text inside static content.Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text <a href="#">inside</a> static content. Some text inside static content. Some text inside static content.Some text inside static content. Some text inside static content. Some text inside static content.
	p Some text inside static content.Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. <a href="#">Some text inside</a> static content. Some text inside static content. Some text inside static content.Some text inside static content. Some text inside static content. Some text inside
	h2 Sub title
	img(alt="" src="i/test_image.jpg")
	p Some text inside static content.Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content.Some text inside static content. Some text inside static content. Some text inside
	h3 Level 3 title
	ul
		li Item of the unordered list
		li Item of the unordered list
		li Item of the unordered list with much longer title
		li
			a(href="#") test link
	p Some text inside static content.Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content. Some text inside static content.Some text inside static content. Some text inside static content. Some text inside