extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Title of the page'}
block content_block
	section.section.demo_mod
		h1.section_title Hola #[a.test(href='#') Maketodor] :)
