include templates/_global_vars
include templates/_global_mixins
include templates/_project_mixins
include templates/_project_vars
- var array = '';
block vars
doctype
html(lang="ru")
	head
		+head(array)
	body(class='#{array.body_class}')
		+header
		.wrapper(class='#{array.layuot_mod}')
			.base(class='#{array.layuot_mod}')
				block content_block
			+footer
		+scripts
		block local_popup
