extends _layout
include templates/_global_mixins
include templates/_global_vars
include templates/_project_mixins
include templates/_project_vars
block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Title of the page'}
	- var amount_field = {block_class_mod:'form_cell_v1_mod amount_mod',class_mod:'form_v1_mod hline_hide_mod ', field_class:'default_mod jsSpinnerTarget'}
block content_block
