extends _layout
include templates/_global_mixins
include templates/_global_vars
include templates/_project_mixins
include templates/_project_vars
block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Title of the page'}
block content_block
	.some_selector.red_mod some text
	.some_selector.green_mod some text
	.some_selector.brown_mod some text
		.elements_list