@mixin st_btn() {
	display: inline-block;
	white-space: nowrap;

	&:hover, &:focus {
		text-decoration: none;
	}
}

//color extends
%blue_btn_1 {
	font-weight: 700;
	color: $white;
	background: $color_link_base;
	transition: .3s ease;

	@include st_btn();

	&:hover {
		background: darken($color_link_base, 10%);
	}
}

//size extends
%btn_size_1 {
	height: 4rem;
	padding: 0 1.2rem;
	line-height: 4rem;
	font-size: 1.6rem;
	border-radius: $gl_radius;
}