//---------------------------------------------fonts
$font_path: "../fonts/";
$font_1: sans-serif;
$font_size_base: 1.6rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;

$color_text_base: #7e8287;
$color_link_base:#00f;
$body_bg: $white;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popap : 9999,
	header : 100,
	footer : 100
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$height_footer: 10rem;
$height_header: 10rem;
$page_width: 96rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_indent: 3rem;
$gl_radius:.5rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 768px;
$point_4: 480px;
$point_5: 320px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height:4rem;
$input_offset:0 2rem;
$input_font_size:$font_size_base;
$input_border_color:#ccc;
$input_border_color_active:$black;
$input_placeholder_color: $black;
$input_text_color:$black;
$input_radius:$gl_radius;
//---------------------------------------------forms###